body {
    font-family: Tahoma;
    margin-left: 2em;
}
button {
    font-family: Tahoma;
    font-size: 1em;
    height: 2em;
}
input[type=text] {
    font-family: Tahoma;
    font-size: 1em;
    height: 1.5em; 
    margin-bottom: 0.5em;
}
li {
    padding-top: 0.5em;
}
textarea {
    font-family: Tahoma;
    font-size: 1em;
    width: 20em;
    margin-bottom: 0.5em;
}
input[type=submit] {
    font-family: Tahoma;
    height: 2.2em;
    font-size: 1em;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}
.grid-item {
    padding: 10px;
    text-align: center;
}